In [1]:
import pandas as pd

In [3]:
file = pd.read_csv("main.csv")

In [4]:
file.head()

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19

In [5]:
file.tail()

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,17,65.4%,43,51,11,6,1,10,10,17
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,10,77.0%,34,43,4,6,0,7,7,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,8,61.6%,35,51,7,7,0,9,9,18
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,13,76.5%,48,31,4,5,0,9,9,18

In [13]:
solution = file.groupby(['Team'])[['Yellow Cards','Red Cards']].sum()

In [14]:
solution.head()

                Yellow Cards  Red Cards
Team
Croatia                    9          0
Czech Republic             7          0
Denmark                    4          0
England                    5          0
France                     6          0

In [18]:
solution = solution.sort_values(by=['Yellow Cards'], ascending = False)

In [20]:
solution = solution.sort_values(by=['Red Cards'], ascending = False)

In [21]:
solution.head()

                     Yellow Cards  Red Cards
Team
Greece                          9          1
Poland                          7          1
Republic of Ireland             6          1
Italy                          16          0
Portugal                       12          0

In [22]:
solution.tail()

             Yellow Cards  Red Cards
Team
England                 5          0
Netherlands             5          0
Ukraine                 5          0
Denmark                 4          0
Germany                 4          0

In [23]:
solution.to_csv('output_3.csv')